<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.block.goosechat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>goosechat</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>100.64.0.0/10</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Goose needs access to speech recognition to convert your voice to text for chat messages.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Goose needs access to the microphone to enable voice input for chat messages.</string>
</dict>
</plist>
